server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://mysql:3306/notifications}
    username: ${DB_USER:root}
    password: ${DB_PASS:root}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: ${KAFKA_SERVER:kafka:9092}
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}

aws:
  region: ${AWS_REGION:ap-southeast-2}
  s3:
    bucket: ${S3_BUCKET:navneetnotificationbucket}

management:
  endpoint:
    health:
      show-details: always
      show-components: always
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  metrics:
    enable:
      all: true
